rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function userDoc() {
      return firestore.get(/databases/(default)/documents/users/$(request.auth.uid));
    }

    function userCompanyId() {
      return userDoc().data.companyId;
    }

    match /companies/{companyId}/inspections/{inspectionId}/{allPaths=**} {
      allow read: if isSignedIn() && userCompanyId() == companyId;
      allow write: if isSignedIn()
        && userCompanyId() == companyId
        && request.auth.uid == firestore.get(/databases/(default)/documents/inspections/$(inspectionId)).data.driverId;
    }
  }
}
